In [2]:
### Imports
from pathlib import Path
import scipy.sparse as sparse
import implicit
import pandas as pd
import numpy as np
import operator
import ast
from scipy.spatial.distance import cosine
import collections
import heapq
import pickle
import joblib

In [3]:
# Read pickle from the disk (Skip the last two blocks of code if the .pkl files already exist in dataframes folder)
df_prior_user_products = pd.read_pickle("../dataframes/cb/cb_user_products.pkl")
df_product_frequency = pd.read_pickle("../dataframes/cb/cb_product_frequency.pkl")

In [5]:
############################################ Start of Skipping ############################################


# Calculate term (item) frequency
# Running time: 19 min
dummy_row = pd.DataFrame([[0, [i+1 for i in range(49688)]]], columns=['user_id','products'])
tf2 = pd.concat([dummy_row, df_prior_user_products[:10]], ignore_index=True).products.apply(pd.value_counts, dropna=False).fillna(0)
tf2.head()

,1,2,3,4,5,6,7,8,9,10,...,49679,49680,49681,49682,49683,49684,49685,49686,49687,49688
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Save tf2 to the disk
# Running time: 15 min
joblib.dump(tf2,'../dataframes/cb/cb_tf2_compressed.pkl', compress=2)

#===========================================  End of Skipping  ============================================

['../dataframes/cb/cb_tf2_compressed.pkl']

In [3]:
# Load tf2 from the disk
# Reading time: 9 min
tf2 = joblib.load("../dataframes/cb/cb_tf2_compressed.pkl")

In [4]:
# Load idf from the disk
idf = joblib.load("../dataframes/cb/cb_idf.pkl")

In [5]:
# Calculate tf_idf

tf2_idf = tf2 * idf
tf2_idf.head()

,1,2,3,4,5,6,7,8,9,10,...,49679,49680,49681,49682,49683,49684,49685,49686,49687,49688
0,5.658789,7.842201,7.892845,7.016295,10.039426,10.157209,9.192128,7.793999,7.892845,5.089091,...,7.682773,5.656011,8.71029,7.946191,1.927531,9.838755,8.408009,8.573089,9.934065,7.892845
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
# Save tf2_idf to the disk
joblib.dump(tf2_idf,'../dataframes/cb/cb_tf2_idf_compressed.pkl', compress=2)

['../dataframes/cb/cb_tf2_idf_compressed.pkl']